$primary:#573CFA;
$primary100:#efe8f8;
$primary200:rgb(247, 244, 247);

$secondary:#1C1A27;

$danger:#E8083E;
$success:#02864A;
$warning:#FB8D1A;

$bcPrimary:rgba(216, 216, 216, 0.812);


// font sizes

$fs-1:14px;
$fs-2:1.1rem;


.btn{
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-size: $fs-1;
    transition: 0.3s ease-in-out;
}