@import "../themes/theme.scss";

.cartCon{
    width: 230px;
    height: 120px;
    border:1px solid $bcprimary100;
    border-radius: 20px;
    margin-top: -60px;
    z-index: 100;
    background-color: $primary400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.4s ease;
    >h2{
        color: $primary;
    }

    >h1{
        color: $secondary;
    }
}

.cartCon:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.5rem rgb(149, 149, 233));
}