@import "../themes/theme.scss";

.employee{
    font-size: $fs-2;
    color: rgb(59, 59, 61);
    transition: 0.5s ease;
    border-bottom: 1px solid rgb(209, 207, 207);
    height: 60px;

}
.employee:hover{
    background-color: $primary200;
}

td{
   // width: 200px;
    text-align: center;
    padding: 7px;

}
.nameCon{
    display: flex;
    align-items: center;
    gap: 10px;

}
.nameTd{
    width: 200px;
}
.idTd{
    width: 50px;
}
.dp{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.btnTD{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 10px;

}

.btnEdit{
    @extend .btn;
    background-color:$primary;
    color: white;
    text-decoration: none;
}

.btn:hover{
    border: 1px solid $primary;
    background-color: rgba(0, 0, 0, 0);
    color: $primary;
}

.btnDel{
    @extend .btn;
    background-color:$danger;
    color: white;
}
.btnDel:hover{
    border: 1px solid $danger;
    background-color: rgba(0, 0, 0, 0);
    color: $danger;
}
