@import "../themes/theme.scss";

.container{
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0px auto;
    border-radius: 20px;
    box-shadow: 0 0 14px $bcPrimary;
    padding: 5px;
    display: flex;

}